<div class="flexible-container" style="background-color: #13293D; color: white; text-align: center;">
   
  <div class="row" style="margin-right:0px; margin-left: 0px;">
    <div class="col-md-12">
             <i class="bi bi-telephone"></i> Telefon: 0737 290 039 <span style="font-size: 20px">|</span>
            <i class="bi bi-envelope"></i> Email: 3dfarm@contact.com
            <br>
            <i class="bi bi-clock"></i> Program: L-V: 8-20. S-D: Inchis.
            <br>
            <p style="text-decoration: underline;">Terms of service.</p> 
    </div>  
  </div>    
</div>