<div class="flexible-container" style="background-color: #13293D;">
  <div class="d-flex" style="font-size: 20px; color: white;">
      <div>
         <i class="bi bi-envelope" style="padding-left: 20px;"></i> 3dfarm@contact.com
      </div>
      <div class="ms-auto">
        <i class="bi bi-telephone" ></i> <span style="padding-right: 20px;"> 0737 290 039</span>
      </div>
 </div>
</div>
<div class="flexible-container" style="display: block; clear: left;">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a href="./index.php" class="navbar-brand mb-0 h1" style="color: white; font-family: 'Macondo', cursive; margin-left: 35px; font-size: 30px;">3DFARM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" , aria-label="Toggle nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 35px;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active" style="margin-left: 35px;">
          <a href="./index.php" class="nav-link" style="color: white;">Acasa</a>
        </li>
        <li class="nav-item active" style="margin-left: 35px;">
          <a href="./portofoliu.php" class="nav-link" style="color: white;">Portofoliu</a>
        </li>
        <li class="nav-item active" style="margin-left: 35px;">
          <a href="./catalog.php" class="nav-link" style="color: white;">Catalog</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

