<div class="flexible-container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000" style="background: coral;">
          <img src="images/image1.jpg" class="d-block w-100"> </img>
        <div class="containerCarousel">
          <div class="carousel-caption">
            <h2>Cele mai noi invoatii in printarea 3D</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000" style="background: lightgreen;">
        <img src="images/image2.jpg" class="d-block w-100"> </img>
        <div class="containerCarousel">
          <div class="carousel-caption">
             <h2>Avem peste 100 de imprimante</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000" style="background:slateblue;">
        <img src="images/image3.jpg" class="d-block w-100"> </img>
        <div class="containerCarousel">
          <div class="carousel-caption">
            <h2>Putem printa pana la 100 de piese pe zi</h2>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>